body {
  font-family: sans-serif;
}

#navbar {
  position: fixed;
  border-right: 3px solid gray;
  width: 350px;
  height: 110%;
  margin-top: -20px;
}

#navbar header {
  padding-top: 20px;
  text-align: center;
}

#navbar ul {
  list-style-type: none;
  margin-left: -48px;
}

#navbar li {
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid black
}

#navbar a {
  text-decoration: none;
  color: black;
}

#main-doc {
  margin-left: 420px;
  padding-top: 10px;
  color: #4d4e53;
  width: 68%;
  text-align: justify;
}

#main-doc header {
  font-size: 28px;
  font-weight: bold;
  padding: 20px 0px;
  color: black;
}

#main-doc li {
  padding: 10px;
}

pre {
  background-color: #f7f7f7;
  padding-top: 15px;
}

code {
  color: #4d4e53;
}

h2 {
  text-decoration: underline;
  color: #882550;
}

#Reference a {
  color: #003ff4;
}

@media screen and (max-width: 815px) {
	#navbar {
    position: relative;
    width: 102.5%;
    background-color: white;
    height: 340px;
    border-bottom: 3px solid gray;
    border-right: none;
    margin-left: -10px;
  }
  
  #navbar ul {
        border-top: 3px solid gray;
  }
  
  #navbar li:first-child {
    border-top: none;
  }
}